body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
}

.custom-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.custom-upload-button input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-upload-button span {
    z-index: 1;
    position: relative;
}

.custom-upload-button:hover {
    background-color: #0056b3;
}

.form-field {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.expander-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.expander-button::after {
    content: "⯅";
    margin-left: 5px;
    font-weight: bold;
}

.expander-button.expanded::after {
    content: "⯆";
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.expandable {
    margin-left: 20px;
    display: none;
}

.custom-save-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-save-button:hover {
    background-color: #0056b3;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.jsonFileInputContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.jsonFileInputContent input[type="file"] {
    display: none;
}